:root {
    --contenido-color: rgb(18.8, 52.2, 55.3);
    /*variable de uso comun en contenido*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 2.2fr                    /*head*/
                        0.4fr                    /*nav*/
                        2.2fr                    /*sidebar*/
                        repeat(8, 1.2fr)         /*contenido*/
                        1fr                      /*foot*/
    ;
    grid-template-areas:
        "header"            /*2.2*/
        "nav"               /*0.4*/
        "sidebar"           /*2.2*/
        "contenido1"        /*1.2*/
        "contenido2"        /*1.2*/
        "contenido3"        /*1.2*/
        "contenido4"        /*1.2*/
        "contenido5"        /*1.2*/
        "contenido6"        /*1.2*/
        "contenido7"        /*1.2*/
        "contenido8"        /*1.2*/
        "footer";           /*1*/

}

.nav-lateral {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "titulocategoria titulocategoria titulocategoria"
        "categoria1 categoria2 categoria3"
        "categoria4 categoria5 categoria6";
}

.nav-menu li {
    margin: .2rem;
    display: inline-block;
    float: right;
}

.nav-menu li a {
    text-decoration: none;
}

 

header {
    height: 20vh;
    background-image: url(../img/pc.jpg);
    grid-area: header;
}


nav {
    background: lightblue;
    grid-area: nav;
}

#sidebar {
    background-color: rgb(30, 87, 92);
    grid-area: sidebar;
}

/*MENU LATERAL*/

ul {
    list-style-type: none;
    padding: 1em;
}

#nav-lateral li a {
    text-decoration: none;
    color: white;
}

#nav-lateral li a:hover {
    text-decoration: none;
    color: rgb(167, 165, 165);
}

/*FIN MENU LATERAL*/




/*FOOTER*/

footer {
    height: 10vh;
    background-image: url(../img/pc.jpg);
    grid-area: footer;
}

#firma {
    width: auto;
    height: 25px;
    padding: 0.4rem;
    color: white;
    background-color: rgb(63, 133, 139);
    border-radius: 15px;
    justify-contenido: space-between;
    margin-top: 10px;
}


/*ITEM*/

.item {
    margin: 10px;
    padding: 10px;

}

#img-item {
    width: 150px;
    height: 150px;
    background-color: white;

}

/*.nav-menu #icon {
    display: block;
}

.nav-menu ul {
    position: fixed;
      width: 100%;
    height: 100vh;*
    background: #2f3640;
    top: 25%;
    left: -120%;
    text-align: center;
    transition: all .5s;

}

.nav-menu li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

.nav-menu a {
    font-size: 20px;
}

a:hover {
    border: none;
    color: #3498db;
}

.nav-menu ul.show {
    left: 0;
}*/

/*BREAKPOINT CELULAR*/

@media only screen and (max-width: 180px) {
    .container {
        grid-template-columns: 0.6fr repeat(2, 1fr);
        /*3 columnas*/
        grid-template-rows: 2fr 0.2fr repeat(4, 1.2fr) 0.8fr;
        /*7 filas*/
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "sidebar contenido1 contenido2"
            "sidebar contenido3 contenido4"
            "sidebar contenido5 contenido6"
            "sidebar contenido7 contenido8"
            "footer footer footer";
        grid-gap: 0.2rem;
    }

    .nav-lateral {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 0.4fr);
        /*categorias*/
        grid-template-areas:
            "titulocategoria"
            "categoria1"
            "categoria2"
            "categoria3"
            "categoria4"
            "categoria5"
            "categoria6";
    }

    /*label.logo {
        font-size: 32px;
        padding-left: 60px;
    }

    .nav-menu ul {
        margin-right: 20px;
    }

    .nav-menu a {
        font-size: 17px;
    }*/
}

/*BREAKPOINT pc*/

@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: 0.6fr repeat(4, 1fr);
        /*5 4columnas*/
        grid-template-rows: 2fr 0.2fr 1.2fr 1.2fr 0.8fr;
        /*5 filas*/
        grid-template-areas:
            "header header header header header"
            "nav nav nav nav nav"
            "sidebar contenido1 contenido2 contenido3 contenido4"
            "sidebar contenido5 contenido6 contenido7 contenido8"
            "footer footer footer footer footer";
        grid-gap: 0.2rem;
    }

    .nav-lateral {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 0.4fr);
        /*categorias*/
        grid-template-areas:
            "titulocategoria"
            "categoria1"
            "categoria2"
            "categoria3"
            "categoria4"
            "categoria5"
            "categoria6";
    }

    /*.nav-menu {
        height: 80px;
        width: 100%;
        background-image: #34495e;
    }

    label.logo {
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
    }

    .nav-menu ul {
        float: right;
        margin-right: 40px;
    }

    .nav-menu li {
        display: inline-block;
        margin: 0 8px;
        line-height: 80px;
    }

    .nav-menu a {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px 10px;
        border-radius: 3px;
    }

    a:hover {
        border: 1px solid white;
        transition: .5s;
    }

    .nav-menu #icon {
        color: white;
        font-size: 30px;
        line-height: 80px;
        float: right;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }*/


}

/*CONTENIDO GRUPO DE ARTICULOS*/
#contenido1 {
    background-color: var(--contenido-color);
    grid-area: contenido1;
}

#contenido2 {
    background-color: var(--contenido-color);
    grid-area: contenido2;
}

#contenido3 {
    background-color: var(--contenido-color);
    grid-area: contenido3;
}

#contenido4 {
    background-color: var(--contenido-color);
    grid-area: contenido4;
}

#contenido5 {
    background-color: var(--contenido-color);
    grid-area: contenido5;
}

#contenido6 {
    background-color: var(--contenido-color);
    grid-area: contenido6;
}

#contenido7 {
    background-color: var(--contenido-color);
    grid-area: contenido7;
}

#contenido8 {
    background-color: var(--contenido-color);
    grid-area: contenido8;
}


#categoria1 {
    grid-area: categoria1;
}

#categoria2 {
    grid-area: categoria2;
}

#categoria3 {
    grid-area: categoria3;
}

#categoria4 {
    grid-area: categoria4;
}

#categoria5 {
    grid-area: categoria5;
}

#categoria6 {
    grid-area: categoria6;
}
